body {
    color: #222;
    background:#ffffff;
    font-family: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #ffffff;
        background-color: hsl(217, 28%, 15%);
    }
    
}
/* Header section !!! */

header{
    width: 1440px;
    height: 70px;
    background-color: darkmagenta;
    margin-left: calc((100% - 1440px) / 2);
    margin-top: 40px;
}

.logo{
    float:left;
}

.menu{
    float: right;
    text-align: right;
    padding: 20px;
}

.menu a{
    color: white;
    text-decoration:none;
    padding-left: 40px;
    font-family: 'Raleway', sans-serif;
}

.menu a:hover {
text-decoration: underline;
color:grey
}

/* Hero section */



  
